<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MatterMapper">

	<select id="getCustomerCode" resultType="hashmap">
		select
		customerCode,customerName from m_customer

	</select>

	<select id="getSection" resultType="hashmap">
		select
		CONCAT(divisionCode,groupCode),divisionName from m_division
	</select>


</mapper>
